<div class="container-fluid pt-4 pb-4 mt-5" style="background-color: var(--bgFooterColor);">

<div class="container ">
    <div class="row justify-content-center">
        <div class="col">
            <h5 style="color: var(--normalText);">Tejidos</h5>
        </div>
        <div class="col">
            <p style="color: var(--normalText);">Servicio al cliente <br> algo mas <br> detalles</p>
        </div>
        <div class="col">
            <p style="color: var(--normalText);">Seguinos en: "redes"</p>
        </div>
    
    </div>
</div>
</div>
