<header>
    <div class="container-fluid" style="background-color: var(--bgHeader)">
        <div class="container">
            <div class="row" style="font-size: 15px; padding-top: 30px; text-align: center;">
                <div class="col" style="color: var(--focusedText); font-size: 30px; position: relative; bottom: 15px;">Tejidos</div>
                <div class="col" style="color: var(--focusedText); font-size: 15px;">INICIO</div>
                <div class="col" style="color: var(--normalText); font-size: 15px;">PRODUCTOS</div>
                <div class="col" style="color: var(--normalText); font-size: 15px;">DESTACADOS</div>
                <div class="col" style="color: var(--normalText); font-size: 15px;">CONTACTO</div>
                <div class="col" style="color: var(--normalText); font-size: 15px;">DONDE ESTAMOS</div>
            </div>
        </div>
    </div>
</header>