<header>
    <div class="container-fluid">
        <div class="row" style="font-family: 'Changa', sans-serif; padding-top: 50px; padding-bottom: 50px; text-align: center; font-size: 30px;">
            <div class="col-1">Logo.png</div>
            <div class="col-5">Productos a mano. Productos de calidad</div>
            <div class="col-3">Nuestros Productos</div>
            <div class="col-3">Contactanos</div>
        </div>
    </div>
</header>