<div class="container">
    <h1 style="text-align: center; padding: 50px; color: var(--darkText); font-family: 'Pushster', cursive;">LO MAS
        NUEVO</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="images/iws1.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text">
                            Descripcion del producto
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="images/iws2.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text">
                            Descripcion del producto
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="images/iws3.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text">
                            Descripcion del producto
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="images/iws3.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text">
                            Descripcion del producto
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="images/iws1.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text">
                            Descripcion del producto
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="images/iws0.jpg" alt="">

                    <div class="card-body">
                        <h5 class="card-title">Titulo</h5>
                        <p class="card-text">
                            Descripcion del producto
                        </p>

                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Comprar
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <h3 style="text-align: center; color: var(--darkText); font-family: 'Pushster', cursive; margin-top: 100px;">SUMATE A LA LISTA DE ESPERA</h3>
    <h5 style="text-align: center; color: var(--darkText); font-family: 'Pushster', cursive;">y obtene descuentos exclusivos</h5>

    <div style="text-align: center; padding: 10px; ">
        <input type="email" placeholder="Ingresa su email aca" style="width: 300px; height: 30px; text-align: center; border: #007bff solid 1px;"><br>
        <button type="submit" class="btn btn-outline-primary btn-sm mt-2" style="width: 300px; text-align: center;">
            Enviar
        </button>
    </div>

</div>
    <style>
        #cardImg {
            width: 18rem;
            height: 18rem;
        }
    </style>